main {
    background-color: #001632;

}

.text-color-grey {
    color: #808b99;
}

.text-color-white {
    color: white;
}

.bg-color-grey {
    background-color: #f8f9fa;
}

.bg-color-light-blue {
    background-color: #cff4fc;
}